@use "./variables" as *;

// About section styles
.aboutFlexContainer {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}
.headshotImgContainer {
    width: 50%;
    max-width: 230px;
    padding-top: 40px;
    margin-left: 100px;
    img {
        border-radius: 50%;
        width: 100%;
        border: 5px solid $darkGreen;
    }
}
.aboutMeBio {
    width: 60%;
    padding: 40px 50px;
    margin-left: 200px;
}
