@use "./variables" as *;

// About section styles
.about {
    background-color: $white;
    padding: 100px 0px;
}
.aboutFlexContainer {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}
.headshotImgContainer {
    width: 80%;
    max-width: 400px;
    padding-top: 40px;
    margin-left: 100px;
    img {
        border-radius: 5%;
        width: 100%;
    }
}
.aboutMeBio {
    width: 60%;
    padding: 40px 50px;
    margin-left: 200px;
    h2 {
        margin-bottom: 50px;
    }
}


