@use "./variables" as var;

// / Contact section styles
.contact {
    padding: 100px 0;
    h2 {
        text-align: center;
        text-decoration: underline var.$orange 5px;
        margin-bottom: 150px;
        font-size: 2.6rem;
    }
}
.contactFlexContainer,
.contactInfo {
    display: flex;
    margin-bottom: 100px;
}

.contactTextContainer {
    width:40%;
    text-align: left;
    margin-right: 20px;
    margin-top: 100px;
}
.contactInfo {
    display: flex;
    justify-content: flex-start;
    li {
        padding: 15px;
        margin-top: 50px;
        a {
        transition: color 0.5s;
        &:hover {
            color: var.$orange;
            }
        }
    }
}
// Form styles
label,
input {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}
label {
    text-transform: uppercase;
}

input,
textarea {
    width: 100%;
    border: 1px solid var.$white;
}

.submitBtn {
    background-color: var.$orange;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: var.$white;
        color: var.$orange;
        border: 2px solid var.$orange;
    }
}

.backToTop {
    color: var.$white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
        font-weight: bold;
        letter-spacing: 2px;
        }
    }