@use "./variables" as var;

// Footer section styles
footer {
    height: 40px;
    background-color: var.$black;
    p {
        text-align: center;
        padding-top: 10px;
        color: var.$white;
        font-size: 0.8rem;
    }
   
}