@use "./variables" as var;

// Header section styles
header {
    height: 100vh;
    background-image: url(../assets/108.png);
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    .headerTextContainer {
        text-align: left;
        position: absolute;
        bottom: 50%;
        z-index: 10;
        h1, p {
            margin: 10px;
            padding: 5px;
            }
        }
}

// Navigations styles
// Desktop Navigation
.topNav {
    height: 10vh;
    padding: 20px;
    z-index: 10;
    .desktopNav  {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-content: center;
        li {
            margin: 0px 10px;
            cursor: pointer;
            border-bottom: 3px solid rgba($color:#FBAF01, $alpha: 0);
            transition: 0.7s;
            &:hover,
            &:focus {
                border-bottom: 3px solid rgba($color:#FBAF01, $alpha: 1);
            }
        }
        li:last-child {
            background-color: #FBAF01;
            padding: 5px 20px;
            border-radius: 5px;
        }
    }
}

// Mobile Navigation
.mobileNav {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
    i {
        text-shadow: 1px 1px #FBAF01;
        font-size: 2rem;
    }
    input[type=checkbox] {
        position: absolute;
        opacity: 0;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0 1rem;
        overflow: hidden;
    }
}

#menuToggle {
    display: none;
}
.menuButton,
.menuButton::before,
.menuButton::after {
    display: block;
    background-color: #222;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transofrm 400ms cubic-bezier(0.23, 1, 0.320, 1);
    border-radius: 2px;
}
.menuButton::before {
    content: '';
    margin-top: -8px;
}
.menuButton::after {
    content: '';
    margin-top: 8px;
}
#menuToggle:checked + .menuButtonContainer .menuButton::before {
    margin-top: 0px;
    transform: rotate(45deg);
}
#menuToggle:checked + .menuButtonContainer .menuButton {
    background: rgba(255, 255, 255, 0);
}
#menuToggle:checked + .menuButtonContainer .menuButton::after {
    margin-top: 0px;
    transform: rotate(-405deg);

}
    
.mobileMenuBtn {
    cursor: pointer;
}






