@use "./variables" as *;

// Header section styles
header {
    background-color: $black;
    height: 100vh;
    position: relative;
    .textContainer {
        flex-basis: 100%;
        text-align: center;
        padding: 200px 30px 50px 30px;
        }
        .title {
            color: $white;
            padding-top: 50px;
        }
        .meetAna {
            border-radius: 5px;
            font-family: $mainFont;
            margin-top: 50px;
            &:hover {
                color: $black;
            }
        }

}

