@use "./variables";

// Header section styles
header {
    height: 80vh;
    background-size: cover;
    background-color: #818CEF;
}

.topNav {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 10vh;
    padding: 20px;
    li {
        margin: 0px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.headerTextContainer {
    display: flex;
    flex-direction: column;
    h1, p {
        margin: 10px;
        padding: 5px;

    }

}

// About section styles
.about {
    background-color: #E7E8EE;
}
.aboutFlexContainer {
    display: flex;
}
.headshotImgContainer {
    width: 40%;
    max-width: 230px;
    padding-top: 40px;
}
.aboutMeBio {
    width: 60%;
    padding: 40px 50px;
    margin-left: 20px;
    h2 {
        margin-bottom: 10px;
        font-family: 'Nunito', sans-serif;
    }
    p {
        font-family: 'PT Sans', sans-serif; 
    }
}

// Skills section styles
.skills {
    background-color: #3D48AE;
}
.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .individualSkill {
        padding: 20px;
        margin: 100px;
    }
}

// Projects section styles
.projects {
    h2 {
        padding: 20px;
    }
}
.projectsFlexContainer {
    display: flex;
    flex-wrap: wrap;
}
.projectsImgContainer {
   width: 30%;
   padding: 20px;
}
.projectsTextContainer {
    width: 70%;
    padding: 20px 0px 0px 20px;
    text-align: left;
    h3 {
       margin-bottom: 10px;
    }
    .skillsUsed,
    .projectsLinks {
        display: flex;
    }
    .skillsUsed {
        li {
            color: #818CEF;
            font-size: 0.8rem;
            margin: 0px 5px 0px 0px;
        }
    }
    .projectsLinks {
        li {
            margin: 20px;
            padding: 10px;
            margin-left: 0;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
// Contact section styles
.contact {
    background-color: #DFE0FC;
}
.contactFlexContainer,
.contactInfo {
    display: flex;
    padding: 100px 50px;
}

.contactTextContainer {
    width: 40%;
    text-align: left;
    margin-right: 200px;
    h2 {
        margin-bottom: 20px;
    }
}
.contactInfo {
    li {
        padding: 10px;
        text-align: left;
    }
}
// Form styles
label {
    text-transform: uppercase;
}
input,
textarea {
    width: 90%;
    border: 1px solid white;
}

.submitBtn {
    background-color: #FBAF0A;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
// Footer section styles
footer {
    height: 40px;
    background-color:#3D48AE;
    padding-top: 5px;
    text-align: left;
}