@use "./variables" as var;

// About section styles
.about {
    background-color: #E7E8EE;
}
.aboutFlexContainer {
    display: flex;
}
.headshotImgContainer {
    width: 40%;
    max-width: 230px;
    padding-top: 40px;
    // margin-right: 40px;
    img {
        border-radius: 50%;
        width: 80%;
    }
}
.aboutMeBio {
    width: 60%;
    padding: 40px 50px;
    margin-left: 20px;
    h2 {
        margin-bottom: 10px;
        font-family: var.$header;
    }
    p {
        font-family: var.$body;
    }
}

// Skills section styles
.skills {
    background-color: #3D48AE;
    color: white;
    h2 {
        padding: 40px;
        color: white;
    }
}
.skillsContainer {
    display: flex;
    flex-wrap: wrap;
}

.individualSkill {
    margin: 8px;
    padding: 5px;
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    span,
    i {
        margin: 20;
        padding: 20px;
        flex-grow: 1;
    } 
    span {
        font-size: 0.6rem;
    }

}

// Projects section styles
.projects {
    h2 {
        padding: 20px;
    }
}
.projectsFlexContainer {
    display: flex;
    flex-wrap: wrap;
}
.projectsImgContainer {
   width: 30%;
   padding: 20px;
}
.projectsTextContainer {
    width: 70%;
    padding: 20px 0px 0px 20px;
    text-align: left;
    h3 {
       margin-bottom: 10px;
    }
    .skillsUsed,
    .projectsLinks {
        display: flex;
    }
    .skillsUsed {
        li {
            color: #818CEF;
            font-size: 0.8rem;
            margin: 0px 5px 0px 0px;
        }
    }
    .projectsLinks {
        li {
            background-color:#FBAF01 ;
            margin: 20px;
            padding: 10px;
            margin-left: 0;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
// Contact section styles
.contact {
    background-color: #DFE0FC;
}
.contactFlexContainer,
.contactInfo {
    display: flex;
    padding: 100px 50px;
}

.contactTextContainer {
    width: 40%;
    text-align: left;
    h2 {
        margin-bottom: 20px;
        font-size: 2.6rem;
    }
}
.contactInfo {
    display: flex;
    justify-content: flex-start;
    li {
        padding: 10px;
        margin-right: 20px;
        a {
        transition: color 0.7s;
        &hover {
             color: yellowgreen;
            }
        }
    }
}
// Form styles
label,
input {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}
label {
    text-transform: uppercase;
}

input,
textarea {
    width: 100%;
    border: 1px solid white;
}

.submitBtn {
    background-color: #FBAF0A;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
