@use "./variables" as *;

// Media Queries Styles
@media (max-width: 950px) {
    header {
        height: 80vh;
        h1 {
            font-size: 4rem;
        }
    }
    // Desktop Navigation
    .mainNav {
        display: none;
    }
    // Mobile Navigation
    #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    right: 50px;
    z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
    }

    #menuToggle a {
    text-decoration: none;
    color: $black;
    transition: color 0.3s ease;
    }

#menuToggle a:hover
{
  color: $pink;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  right: 0px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: $white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $black;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: $white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
    // About me section
    .headshotImgContainer {
        margin: 0 auto;
      
    }
    .aboutMeBio {
        text-align: center;
        margin: 0 auto;
    }
    h2 {
        text-align: center;
    }

    // Projects section
    .projectsFlexContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        width: fit-content;
    }
    .projectsImgContainer {
        width: 70%;
    }
    .contactFlexContainer {
        display: flex;
        flex-direction: column-reverse;
    }
    .contactTextContainer {
        margin: 0 auto;
    }
    .contact h2 {
        margin-bottom: 100px;
    }
    .backToTop {
        font-size: 0.8rem;
    }
  
}

@media (max-width: 860px) {
    .typeContainer {
        display: none; 
    }
    .textContainer {
        padding: 100px;
        margin-top: 50px;
    }
}

@media (max-width: 750px) {
    .aboutMeBio {
        width: 90%;
    }
    .projectsTextContainer,
    .projectsImgContainer {
        width: 90%;
    }
    .contactFlexContainer {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px;
    }
    .contactTextContainer {
        width: 100%;
        padding: 0 40px;
        text-align: center;
    }
    .contactInfo {
        padding: 30px;
        margin-left: 100px;
    }
}

@media (max-width: 650px) {
    // Desktop Navigation
    .topNav {
        display: none;
    }
    // Mobile Navigation
    .hamNav {
        display: block;
    }
   .aboutFlexContainer {
    flex-direction: column;
    align-items: center;
    .headshotImgContainer {
        width: 100%;
    }
    .aboutMeBio {
        width: fit-content;
        align-items:center;
        p {
            font-size: 0.9rem;
        }
    }
   }
   .skills ul li i {
    font-size: 50px;
    }
   .projectsFlexContainer {
    flex-direction: column;
    align-items: center;
    .projectsImgContainer {
        width: 90%;
    }
    .projectsTextContainer h3 {
        font-size: 1.2rem;
    }
   }
   .contactTextContainer {
    margin-right: 50px;
    p {
        font-size: 0.9rem;
    }
    a {
        font-size: small;
    }
   }
   .submitBtn {
    margin-bottom: 5px;
   }
}

@media (max-width: 600px) {
    .projectsTextContainer {
    .skillsUsed {
        li {
            font-size: 0.6rem;
            letter-spacing: 0;
        }
    }
}
    .contactInfo {
        padding: 30px;
        margin-left: 20px;
    }

}

@media (max-width: 550px) {
    .projectsTextContainer {
        p, a {
            font-size: 0.8rem;
        }
    .skillsUsed {
        li {
            font-size: 0.5rem;
            letter-spacing: 0;
        }
       
    }
}

@media (max-width: 500px) {
    // Desktop Navigation
    .topNav {
        display: none;
    }
    // Mobile Navigation
    .mobileNav {
        display: block;
    }
    .hamNavIcon {
        display: block;
    }
   .aboutFlexContainer {
    flex-direction: column;
    align-items: center;
    .headshotImgContainer {
        width: 100%;
    }
    .aboutMeBio {
        width: fit-content;
        align-items:center;
        p {
            font-size: 0.9rem;
        }
    }
   }
   .projects {
    padding: 10px;
   }
   .projectsFlexContainer {
    flex-direction: column;
    align-items: left;
    .projectsImgContainer {
        width: 90%;
    }
   }
   .contactTextContainer {
    margin-right: 50px;
    h2 {
        font-size: 1.8rem;
    }
    p  {
        font-size: 0.8rem;
    }
    }
    ul {
       flex-direction: row;
       a {
           font-size: 0.6rem;
           
       }
    }
   .submitBtn {
    font-size: 0.8rem;
        }
    }
}

@media (max-width:450px) {
    .textContainer {
        h1 {
        padding: 5px;
        font-size: 3rem;
        line-height: 2.5rem;
        text-align: center;
        }
    }
    h2 {
        line-height: 2.5rem;
    }
}

@media (max-width: 400px) {
    .projects {
        padding: 10px;
    }
    .projectsFlexContainer {
        width: 100%;
    }
    .contactInfo {
        padding: 2px;
        margin: 0 auto;
    }
    .submitBtn {
        margin: 30px 40px;
    }
}

@media (max-width: 350px) {
    .skills {
        li {
            margin: 0 auto;
        }
    }
    h2 {
        font-size: 2rem;
        line-height: 3rem;
    }
}