@use "./variables" as var;

// Media Queries Styles
@media (max-width: 950px) {
    header {
        height: 80vh;
        h1 {
            font-size: 4rem;
        }
    }
    // Desktop Navigation
    .mainNav {
        display: none;
    }
    // Mobile Navigation
    // Inspiration from https://alvarotrigo.com/blog/hamburger-menu-css/
    .hamNav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: var.$white;
        height: 50px;
        padding: 1em;
    }
    .hamNavIcon {
        display: block;
    }
    .menuButtonContainer {
        display: flex;
        
    } 
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menuToggle  ~ .menu li {
       height: 0;
       margin: 0;
       padding: 0;
       border: 0;
       transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    #menuToggle :checked ~ .menu li {
        border: 1px solid var.$black;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: var.$white;
        background-color: var.$black;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid var.$black;
    }
    } 
    .aboutFlexContainer {
     flex-direction: column;
     align-items: center;
     .headshotImgContainer {
         width: 100%;
     }
    }
    .skills {
        padding: 50px 0 50px 0;
    }
    .contactTextContainer {
     margin-right: 50px;
    }
    .submitBtn {
     margin-bottom: 5px;
    }
    .menuButtonContainer {
     display: flex;
    }

    // About me section
    .headshotImgContainer {
        margin: 0 auto;
      
    }
    .aboutMeBio {
        text-align: center;
        margin: 0 auto;
    }
    h2 {
        text-align: center;
    }

    // Projects section
    .projectsFlexContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        width: fit-content;
    }
    .projectsImgContainer {
        width: 70%;
    }
    .contactFlexContainer {
        display: flex;
        flex-direction: column-reverse;
    }
    .contactTextContainer {
        margin: 0 auto;
    }
    .contact h2 {
        margin-bottom: 100px;
    }
    .backToTop {
        font-size: 0.8rem;
    }
  
}

@media (max-width: 860px) {
    .typeContainer {
        display: none; 
    }
    .textContainer {
        padding: 100px;
        margin-top: 50px;
    }
}

@media (max-width: 750px) {
    .aboutMeBio {
        width: 90%;
    }
    .projectsTextContainer,
    .projectsImgContainer {
        width: 90%;
    }
    .contactFlexContainer {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px;
    }
    .contactTextContainer {
        width: 100%;
        padding: 0 40px;
        text-align: center;
    }
    .contactInfo {
        padding: 30px;
        margin-left: 100px;
    }
}

@media (max-width: 650px) {
    // Desktop Navigation
    .topNav {
        display: none;
    }
    // Mobile Navigation
    .hamNav {
        display: block;
    }
   .aboutFlexContainer {
    flex-direction: column;
    align-items: center;
    .headshotImgContainer {
        width: 100%;
    }
    .aboutMeBio {
        width: fit-content;
        align-items:center;
        p {
            font-size: 0.9rem;
        }
    }
   }
   .skills ul li i {
    font-size: 50px;
    }
   .projectsFlexContainer {
    flex-direction: column;
    align-items: center;
    .projectsImgContainer {
        width: 90%;
    }
    .projectsTextContainer h3 {
        font-size: 1.2rem;
    }
   }
   .contactTextContainer {
    margin-right: 50px;
    p {
        font-size: 0.9rem;
    }
    a {
        font-size: small;
    }
   }
   .submitBtn {
    margin-bottom: 5px;
   }
}

@media (max-width: 600px) {
    .projectsTextContainer {
    .skillsUsed {
        li {
            font-size: 0.6rem;
            letter-spacing: 0;
        }
    }
}
    .contactInfo {
        padding: 30px;
        margin-left: 20px;
    }

}

@media (max-width: 550px) {
    .projectsTextContainer {
        p, a {
            font-size: 0.8rem;
        }
    .skillsUsed {
        li {
            font-size: 0.5rem;
            letter-spacing: 0;
        }
       
    }
}

@media (max-width: 500px) {
    // Desktop Navigation
    .topNav {
        display: none;
    }
    // Mobile Navigation
    .mobileNav {
        display: block;
    }
    .hamNavIcon {
        display: block;
    }
   .aboutFlexContainer {
    flex-direction: column;
    align-items: center;
    .headshotImgContainer {
        width: 100%;
    }
    .aboutMeBio {
        width: fit-content;
        align-items:center;
        p {
            font-size: 0.9rem;
        }
    }
   }
   .projects {
    padding: 10px;
   }
   .projectsFlexContainer {
    flex-direction: column;
    align-items: left;
    .projectsImgContainer {
        width: 90%;
    }
   }
   .contactTextContainer {
    margin-right: 50px;
    h2 {
        font-size: 1.8rem;
    }
    p  {
        font-size: 0.8rem;
    }
    }
    ul {
       flex-direction: row;
       a {
           font-size: 0.6rem;
           
       }
    }
   .submitBtn {
    font-size: 0.8rem;
        }
    }
}

@media (max-width:450px) {
    .textContainer {
        h1 {
        padding: 5px;
        font-size: 3rem;
        line-height: 2.5rem;
        text-align: center;
        }
    }
    h2 {
        line-height: 2.5rem;
    }
}

@media (max-width: 400px) {
    .projects {
        padding: 10px;
    }
    .projectsFlexContainer {
        width: 100%;
    }
    .contactInfo {
        padding: 2px;
        margin: 0 auto;
    }
    .submitBtn {
        margin: 30px 40px;
    }
}

@media (max-width: 350px) {
    .skills {
        li {
            margin: 0 auto;
        }
    }
    h2 {
        font-size: 2rem;
        line-height: 3rem;
    }
}