@use "./variables" as *;

// Media Queries Styles

@media (max-width: 1120px) {
    .aboutFlexContainer {
        flex-direction: column;
        align-items: center;
        .headshotImgContainer {
            width: 100%;
        }
        .aboutMeBio {
            width: fit-content;
            align-items:center;
            p {
                font-size: 0.9rem;
            }
        }
       }
       // About me section
    .headshotImgContainer {
        margin: 0 auto;
      
    }
    .aboutMeBio {
        text-align: center;
        margin: 0 auto;
    }
    h2 {
        text-align: center;
    }
     // Projects section
     .projectFlexContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .projectImgContainer,
    .projectTextContainer {
        width: 90%;
    }
    .contactFlexContainer {
        display: flex;
        flex-direction: column-reverse;
    }
    .contactTextContainer {
        margin: 0 auto;
    }
    .contact h2 {
        margin-bottom: 100px;
    }
    .backToTop {
        font-size: 0.8rem;
    }
}
@media (max-width: 950px) {
    // Projects section
    .projectFlexContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        width: fit-content;
    }
    .projectImgContainer {
        width: 70%;
    }
    .contactFlexContainer {
        display: flex;
        flex-direction: column-reverse;
    }
    .contactTextContainer {
        margin: 0 auto;
    }
    .contact h2 {
        margin-bottom: 100px;
    }
    .backToTop {
        font-size: 0.8rem;
    }
  
}

@media (max-width: 750px) {
    .aboutMeBio {
        width: 90%;
    }
    .projectTextContainer,
    .projectImgContainer {
        width: 90%;
    }
    .contactFlexContainer {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px;
    }
    .contactTextContainer {
        width: 100%;
        padding: 0 40px;
        text-align: center;
    }
    .contactInfo {
        padding: 30px;
        margin-left: 100px;
    }
}

@media (max-width: 650px) {
   
   .skills ul li i {
    font-size: 50px;
    }
   .projectFlexContainer {
    flex-direction: column;
    align-items: center;
    .projectImgContainer {
        width: 90%;
    }
    .projectTextContainer h3 {
        font-size: 1.2rem;
    }
   }
   .contactTextContainer {
    margin-right: 50px;
    p {
        font-size: 0.9rem;
    }
    a {
        font-size: small;
    }
   }
   .submitBtn {
    margin-bottom: 5px;
   }
}

@media (max-width: 600px) {
    .projectTextContainer {
    .skillsUsed {
        li {
            font-size: 0.6rem;
            letter-spacing: 0;
        }
    }
}
    .contactInfo {
        padding: 30px;
        margin-left: 20px;
    }

}

@media (max-width: 550px) {
    .projectTextContainer {
        p, a {
            font-size: 0.8rem;
        }
    .skillsUsed {
        li {
            font-size: 0.5rem;
            letter-spacing: 0;
        }
       
    }
}

@media (max-width: 500px) {
   .aboutFlexContainer {
    flex-direction: column;
    align-items: center;
    .headshotImgContainer {
        width: 100%;
    }
    .aboutMeBio {
        width: fit-content;
        align-items:center;
        p {
            font-size: 0.9rem;
        }
    }
   }
   .projects {
    padding: 10px;
   }
   .projectFlexContainer {
    flex-direction: column;
    align-items: left;
    .projectImgContainer {
        width: 90%;
    }
   }
   .contactTextContainer {
    margin-right: 50px;
    h2 {
        font-size: 1.8rem;
    }
    p  {
        font-size: 0.8rem;
    }
    }
    ul {
       flex-direction: row;
       a {
           font-size: 0.6rem;
           
       }
    }
   .submitBtn {
    font-size: 0.8rem;
        }
    }
}

@media (max-width:450px) {
    .textContainer {
        h1 {
        padding: 5px;
        font-size: 3rem;
        line-height: 2.5rem;
        text-align: center;
        }
    }
    h2 {
        line-height: 2.5rem;
    }
}

@media (max-width: 400px) {
    .projects {
        padding: 10px;
    }
    .projectFlexContainer {
        width: 100%;
    }
    .contactInfo {
        padding: 2px;
        margin: 0 auto;
    }
    .submitBtn {
        margin: 30px 40px;
    }
}

@media (max-width: 375px) {
    header {
        height: 80vh;
    }
    .textContainer {
        h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 80px;
        }
        h2 {
        font-size: 2rem;
        line-height: 3rem;
        }
    }
    .skills {
        li {
            margin: 0 auto;
        }
    }
    .contact {
        padding: 0;
        h2 {
            margin: 0;
            padding-top: 20px;
        }
    }
   
    form {
        margin-top: 50px;
        margin-left: 0;
    }
    #myBtn {
        padding: 5px;
        border-radius: 5px;
        font-size: 15px;
    }
}