@use "./variables" as *;

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px white solid;
    position: absolute;
    z-index: 3;
    width: 100vw;
    padding: 0 40px;

    ul {
        list-style: none;
        color: $white;
        display: flex;
        justify-content: space-evenly;
        gap: 50px;

        a:link,
        a:visited,
        a:hover,
        a:active { 
         text-decoration: none; 
        }
    }

}  

.skipLink {
    display: none;
}

.logo {
    color: $white;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.navLink  {
    transition: 0.7s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: $white;
}
  
    
    
