@use "./variables" as var;

// Desktop Nav
.headerNav {
    background-color: var.$black;
    color: var.$white;
    padding: 40px 0px;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    .mainNavLinks {
        display: flex;
        justify-content:space-between;
        li {
            margin-left: 50px;
        }
        a {
            padding: 5px 10px;
            text-align: center;
            border-radius: 0.25em;
            border: 2px solid transparent;
            color: var.$white;
            &:hover {
                border: 2px solid var.$orange;
                font-weight: bold;
                letter-spacing: 3px;
            }
        }
        .contactBtn {
            background-color: var.$orange;
            color: var.$black;
            &:hover {
                background: var.$white;
                color: var.$orange;
                border: 2px solid var.$orange;
                font-weight: bold;
                letter-spacing: 3px;
            }
        }
    }
}
// Dark Mode Toggle
.switchLight {
    .checkbox {
      opacity: 0;
      position: absolute;
    }
    .label {
      background-color: var.$black;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      border-radius: 50px;
      border: 1px solid var.$white;
      position: relative;
      padding: 2px;
      height: 26px;
      width: 70px;
      transform: scale(1.5);
      cursor: pointer;
    }
    .ball {
      background-color: var.$white;
      border-radius: 50%;
      position:absolute;
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
      transition: transform 0.2s linear;
    }
    .checkbox:checked + .label .ball {
      transform: translate(44px);
    }
    .fa-moon {
      color: var.$yellow;
    }
    .fa-sun {
      color: var.$red;
    }

  }

// Hamburger Nav

.hamNavIcon {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    padding: 2%;
    cursor: pointer;
    z-index: 100;
    font-size: 2rem;

    .toggle {
        display: flex;
        justify-content: center;
        transition: 0.3s;
        &:hover {
            color: var.$orange;
        }
        &:focus {
            color: var.$orange;
        }
    }
}

.hamNav {
    display: none;
    justify-content: right;
    background-color: var.$white;
    height: 100vh;
    width: 80vw;
    position: fixed;
    top: 0;
    right: -80vw; 
    z-index: 10;
    transition: 0.5s;
    overflow: hidden;
    ul {
        flex-direction: column;
        padding-top: 50px;
        li {
            justify-content: center;
            margin-bottom: 10px;
            a {
                font-size: 2.8rem;
                line-height: 85px;
                transition: 0.4s;
                color: var.$black;
                &:hover {
                    color: var.$orange;
                    font-weight: bold;
                }
                 &:focus {
                    color: var.$orange;
                    font-weight: bold;
                }
            }
        }
    }
     &.openNav {
        height: 100%; 
        transform: translateX(-80vw);
    } 
}

.hamNavIcon {
    color: var.$white;
}
