@use "./variables" as *;

// Projects section styles
.projects {
    padding: 100px;
    background-color: $white;
    h2 {
        font-size: 2.6rem;
        text-align: center;
    }
}
.projectFlexContainer {
    display: flex;
    align-items: center;    
}

.projectTextContainer,
.projectImgContainer {
    width: calc(50% - 50px);
}

.projectTextContainer {
    h3 {
       margin-top: 150px;
    }
    
    .skillsUsed,
    .projectsLinks {
        display: flex;
    }
    .skillsUsed {
        li {
            color: $white;
            font-size: 0.8rem;
            margin: 0px 5px 0px 0px;
        }
    }
    .projectsLinks {
        li {
            background-color: $pink;
            color: $white;
            margin: 20px;
            padding: 10px;
            margin-left: 0;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: $white;
                color: $pink;
                border: 2px solid $pink;
            }
        }
    }

}