@use "./variables" as var;

html {
    font-size: 125%;
}

body,
ul,
h1,
h2,
h3,
form,
button,
p  {
    margin: 0 auto;
    padding: 0;
    font-family: var.$body;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
    color: #2A3033;
}

h1, h2, h3  {
    font-family: var.$header;
    font-weight: 700;
    font-size: 5.8rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 1.4rem;
}

ul {
    list-style: none;
    a {
        text-decoration: none;
        color: #2A3033;
        &:visited,
        &:active {
            color: inherit;
        }
    }    
}    

img {
    max-width: 100%;
    height: auto;
    display: block;
}    

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px; 
}    




