// Site fonts
$headingFont: 'Roboto', sans-serif;
$bodyFont: 'Lora', serif;


// Site colours
$white: #F8F4F3;
$black: #14070E;
$darkGreen: #365C46;
$green: #B6CAA2;
$lightPink: #F7E4DC;
$pink: #DB9999;
