html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body,
ul,
h1,
h2,
h3,
form,
button,
p {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 25px;
  color: #2A3033;
}

h1, h2, h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

ul {
  list-style: none;
}
ul a {
  text-decoration: none;
  color: #2A3033;
}
ul a:visited, ul a:active {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  height: 100vh;
  background-image: url(../assets/108.png);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
header .headerTextContainer {
  text-align: left;
  position: absolute;
  bottom: 50%;
  z-index: 10;
}
header .headerTextContainer h1, header .headerTextContainer p {
  margin: 10px;
  padding: 5px;
}

.topNav {
  height: 10vh;
  padding: 20px;
  z-index: 10;
}
.topNav .desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}
.topNav .desktopNav li {
  margin: 0px 10px;
  cursor: pointer;
  border-bottom: 3px solid rgba(251, 175, 1, 0);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.topNav .desktopNav li:hover, .topNav .desktopNav li:focus {
  border-bottom: 3px solid #fbaf01;
}
.topNav .desktopNav li:last-child {
  background-color: #FBAF01;
  padding: 5px 20px;
  border-radius: 5px;
}

.mobileNav {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}
.mobileNav i {
  text-shadow: 1px 1px #FBAF01;
  font-size: 2rem;
}
.mobileNav input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin: 0 1rem;
  overflow: hidden;
}

#menuToggle {
  display: none;
}

.menuButton,
.menuButton::before,
.menuButton::after {
  display: block;
  background-color: #222;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: transofrm 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transofrm 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menuButton::before {
  content: "";
  margin-top: -8px;
}

.menuButton::after {
  content: "";
  margin-top: 8px;
}

#menuToggle:checked + .menuButtonContainer .menuButton::before {
  margin-top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menuToggle:checked + .menuButtonContainer .menuButton {
  background: rgba(255, 255, 255, 0);
}

#menuToggle:checked + .menuButtonContainer .menuButton::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.mobileMenuBtn {
  cursor: pointer;
}

.about {
  background-color: #fbfbfc;
}

.aboutFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.headshotImgContainer {
  width: 40%;
  max-width: 230px;
  padding-top: 40px;
  margin-right: 40px;
}
.headshotImgContainer img {
  border-radius: 50%;
  width: 80%;
}

.aboutMeBio {
  width: 60%;
  padding: 40px 50px;
  margin-left: 20px;
}
.aboutMeBio h2 {
  margin-bottom: 10px;
  font-family: "Nunito", sans-serif;
}
.aboutMeBio p {
  font-family: "PT Sans", sans-serif;
}

.skills {
  background-color: #3D48AE;
  color: #fbfbfc;
}
.skills h2 {
  padding: 40px;
  color: #fbfbfc;
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.individualSkill {
  margin: 8px;
  padding: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.individualSkill span,
.individualSkill i {
  margin: 20;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.individualSkill span {
  font-size: 0.6rem;
}

.projects h2 {
  padding: 20px;
}

.projectsFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectsImgContainer {
  width: 30%;
  padding: 20px;
}

.projectsTextContainer {
  width: 70%;
  padding: 20px 0px 0px 20px;
  text-align: left;
}
.projectsTextContainer h3 {
  margin-bottom: 10px;
}
.projectsTextContainer .skillsUsed,
.projectsTextContainer .projectsLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projectsTextContainer .skillsUsed li {
  color: #818CEF;
  font-size: 0.8rem;
  margin: 0px 5px 0px 0px;
}
.projectsTextContainer .projectsLinks li {
  background-color: #FBAF01;
  margin: 20px;
  padding: 10px;
  margin-left: 0;
  border-radius: 5px;
  cursor: pointer;
}
.projectsTextContainer a {
  color: blue;
}
.projectsTextContainer a:hover {
  color: #818CEF;
}

.contact {
  background-color: #DFE0FC;
}

.contactFlexContainer,
.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 50px;
}

.contactTextContainer {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: left;
  margin-right: 20px;
}
.contactTextContainer h2 {
  margin-bottom: 50px;
  font-size: 2.6rem;
}
.contactTextContainer br {
  margin: 15px;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.contactInfo li {
  padding: 15px;
}
.contactInfo li a {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.contactInfo li a:hover {
  color: #FBAF01;
}

label,
input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0px;
}

label {
  text-transform: uppercase;
}

input,
textarea {
  width: 100%;
  border: 1px solid white;
}

.submitBtn {
  background-color: #FBAF0A;
  text-align: center;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  height: 40px;
  background-color: #3D48AE;
}
footer p {
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 0.8rem;
}

@media (max-width: 1110px) {
  header {
    background-image: none;
    background: linear-gradient(80deg, #3D48AE, #fbfbfc);
  }
}
@media (max-width: 800px) {
  .topNav {
    display: none;
  }
  .mobileNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
    height: 50px;
    padding: 1em;
  }
  .menuButtonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menuToggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menuToggle ~ .menu li #menuToggle :checked ~ .menu li {
    border: 1px solidd #333;
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menuToggle ~ .menu li .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  #menuToggle ~ .menu li .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .aboutFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutFlexContainer .headshotImgContainer {
    width: 100%;
  }
  .contactTextContainer {
    margin-right: 50px;
  }
  .submitBtn {
    margin-bottom: 5px;
  }
  .menuButtonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 650px) {
  .topNav {
    display: none;
  }
  .mobileNav {
    display: block;
  }
  .aboutFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutFlexContainer .headshotImgContainer {
    width: 100%;
  }
  .aboutFlexContainer .aboutMeBio {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutFlexContainer .aboutMeBio p {
    font-size: 0.9rem;
  }
  .projectsFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectsFlexContainer .projectsImgContainer {
    width: 70%;
  }
  .contactTextContainer {
    margin-right: 50px;
  }
  .contactTextContainer p {
    font-size: 0.9rem;
  }
  .contactTextContainer a {
    font-size: small;
  }
  .submitBtn {
    margin-bottom: 5px;
  }
}
@media (max-width: 500px) {
  .topNav {
    display: none;
  }
  .mobileNav {
    display: block;
  }
  .aboutFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutFlexContainer .headshotImgContainer {
    width: 100%;
  }
  .aboutFlexContainer .aboutMeBio {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutFlexContainer .aboutMeBio p {
    font-size: 0.9rem;
  }
  .projectsFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectsFlexContainer .projectsImgContainer {
    width: 70%;
  }
  .contactTextContainer {
    margin-right: 50px;
  }
  .contactTextContainer h2 {
    font-size: 1.8rem;
  }
  .contactTextContainer p {
    font-size: 0.8rem;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul a {
    font-size: 0.6rem;
  }
  .submitBtn {
    font-size: 0.8rem;
  }
}